@charset "UTF-8"

/*  共通部分  -------------------*/
html {
    font-size: 100%;
}
body {
    font-family: "UD明朝", serif;
    line-height: 1.7;
    color: #333;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

/*  HEADER  -------------------*/
.page-header {
    background: #fff;
}
.logo {
    width: 120px;
    height: 60px;
    margin-top: 5px; 
    padding-left: 5px;
    position: relative; right: 10px;
}
.main-nav {
    display: flex;
    font-size: 1.125rem;
    list-style: none;
}
.main-nav li {
    margin-right: 20px;
    padding: 15px;
}
.top {
    min-height: 60px;
    max-height: 200px;
    background-image: url(../images/toppurple.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: none;
}
.works {
    min-height: 60px;
    max-height: 200px;
    background-image: url(../images/worksorange.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: none;
}
.about {
    min-height: 60px;
    max-height: 200px;
    background-image: url(../images/aboutbule.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: none;
}
.contact {
    min-height: 60px;
    max-height: 200px;
    background-image: url(../images/contactpink.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: none;
}
.main-nav a {
    color: #333;
}
.main-nav a:hover {
    border-bottom: 1px #333 solid;
}
.page-header {
    display: flex;
    justify-content: space-between;
}
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

/*  HOME  MAIN---------------------*/
.home-content {
    display: flex;
    background-color: rgba(192, 138, 255, .05);
    width: 100%;
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}
.home-content h1 {
    font-size: 4rem;
    font-weight: normal;
    position: absolute; left: 700px;
    margin-top: 20%;
}
.title {
    font-size: 2rem;
    position: absolute; left: 700px;
    margin-top: 18%;
}
/*  キャッチフレーズ  */
.catch-phrase {
    font-style: oblique;
    margin-top: 90px;
    letter-spacing: 1.25rem;
}
.omoi {
    font-size: 2rem;
    font-weight: bolder;
    color: #c282ff;
    -webkit-text-stroke: 1px #fff;
    text-shadow: 3px 3px 2px silver;
}
.right {
    margin-left: 150px;
}

/*  ロゴ画像  */
img{
    height: 45vh;
}

/*  ホーム画像  */
.home-bg,
.home-mainphoto {
    padding-top: 20px;
    padding-bottom: 20px;
}
.home-bg {
    height: 50vh;
    position: relative; left: 5%;
}
.home-mainphoto {
    position: absolute; left: 15%;
}
.logoimage {
    max-height: 75px;
    margin-top: 300px;
    position: absolute; left: 75%;
}

/*  HOME WORKS -------------------*/
/*  見出し  */
.home-works {
    background-color: rgba(243, 135, 119, .05);
    margin-top: 0%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.titleline {
    height: 10px;
    width: 80px;
    margin-top: 70px;
    float: left;
}
.sub-title1  {
    background-image: url(../images/worksorange.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 30px 10px;
    font-size: 3.5rem;
    padding-top: 35px;
    margin: 0;
}

/*  小見出し  */
h3 {
    margin-top: 50px;
    margin-bottom: 10px;
}
.title3 {
    font-size: 1.8rem;
    padding-left: 30px;
    position: relative;
    background-image: url(../images/title3-line.png);
    background-size: 12%;
    background-repeat: no-repeat;
    background-position: 22px 38px;
}
.line1 {
    background-size: 11%;
}
.line2 {
    background-size: 6%;
}

.grid1 {
    display: flex;
    gap: 20px;
}
.item {
    width: 33.33333%;
}
.item img {
    width: 100%;
    height: 250px;
    object-fit: contain;
}
h4 {
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.6rem;
    margin-top: 5px;
}
a img {
    display: block; 
    max-width: 100%; 
    height: auto; 
}

/*  HOME ABOUT -------------------*/
.home-about {
    background-color: rgba(111, 135, 231, .05);
    margin-top: 0%;
    padding-top: 5%;
    padding-bottom: 5%;
}

/*  見出し  */
.sub-title2  {
    background-image: url(../images/aboutbule.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 30px 10px;
    font-size: 3.5rem;
    padding-top: 35px;
    margin: 0;
}

/*  プロフィール  */
.profile {
    display: flex;
}
.profile-image {
    width: 300px;
    max-height: 350px;
    margin: 30px 10%;
    position: relative ;
}
.title-st {
    margin: 0 0 0 20px;
    padding: 0;
}
.my-name {
    padding: 0;
    font-weight: bold;
    font-size: 1.7rem;
    position: relative;
}
.logoimage1 {
    max-height: 75px;
    position: absolute; left: 900px;
    margin-top: 30px;

}
.p-sentence {
    font-size: 1.2rem;
    padding: 0;
}
/*  ボタン  */
.right {
    text-align: right;
}
.button {
    padding: 15px;
    color: #333;
    font-size: 1.5rem;
    background-image: url(../images/aboutbule.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: none;
}
.button:hover {
    color: #6f87e7;
    border-bottom: 1px #6f87e7 solid;
}


/*  HOME-CONTACT  ---------------------*/
.home-contact {
    background-color: rgba(255, 125, 171, .05);
    margin-top: 0%;
    padding-top: 5%;
    padding-bottom: 5%;
}

/*  見出し  */
.sub-title3  {
    background-image: url(../images/contactpink.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 30px 10px;
    font-size: 3.5rem;
    padding-top: 35px;
    margin: 0;
}

h5 {
    font-size: 1.2rem;
    text-align: center;
    font-weight: normal;
}

/*  フォーム  */
.form-container {
    width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 1.2px solid #333;
    border-radius: 10px;
    background-color: #fff;
}
.row {
    display: flex;
    gap: 10px;
    max-width: 100%;
}
input[type="text"],
input[type="email"] {
    height: 2rem;
}
.input-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}
label {
    margin-top: 10px;
}
input, textarea {
    width: 100%;
    border: 1px solid #ff7dab;
    border-radius: 5px;
    background-color: rgba(255, 125, 171, .05);
    font-size: 16px;
}
textarea {
    height: 100px;
    resize: none;
}
button {
    font-family: "UD明朝", serif;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: normal;
    border: 1px solid #ff7dab;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}
button:hover {
    background-color: rgba(255, 125, 171, .2);
    
}

/*  FOTTER  -----------------*/
footer {
    background-color: #fff;
}
.footer {
    display: flex;
    align-items: center;
}
.main-nav1 {
    display: flex;
    font-size: 1.125rem;
    list-style: none;
}
.main-nav1 li {
    margin-right: 20px;
    padding: 15px;
}
.main-nav1 a {
    color: #333;
}
.main-nav1 a:hover {
    border-bottom: 1px #333 solid;
}
.copyright {
    max-height: 50px;
    margin-left: 500px;
}
/*  SNS-ICON */
.sns-icons {
    display: flex;
    gap: 15px;
}
.sns-icons a {
    font-size: 30px;
    color: #333; 
    text-decoration: none;
    transition: color 0.3s;
    padding: 0%;
}
.sns-icons a:hover {
    color:#ff00c4;
}

/*  WORKS-WEBSITE1  --------------*/

.works-website1 {
    background-color: rgba(243, 135, 119, .05);
    display: flex;
    align-items: flex-start;
    gap: 50px;
}
.brat {
    margin: 0 0 0 30px;
    padding-top: 0;
}
.works-subtitle {
    font-weight: bold;
    margin: 60px 100px 0 30px;
}
.works-subtitle,
.works-sentence {
    margin: 0;
    text-align: left;
}
.lp1 .w-right {
    margin: 0 0 0 20px;
}
.w-right {
    width: 50%;
} 
.right-content1 {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-top: 50px;
    margin-left: 30px;
}
.right-content2 {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
    margin-left: 30px;
}
.right-content3 {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-top: 20px;
    margin-left: 30px;
}
.lp1 {
    height: 3000px;
    max-width: 50%;
    position: relative;
}
.works-title {
    font-size: 2rem;
    margin: 50px 10px 0 20px;
}

.works-title1 {
    margin: 100px 10px 30px 30px;
}
.right-content4 {
    margin-left: 30px;
}
.right-content5 {
    margin-left: 30px;
    margin-bottom: 30px;
}
.right-content6 {
    margin-left: 30px;
    margin-bottom: 30px;
}
.a1 {
    margin-bottom: 40px;
}

/*  WORKS-BANNER1  */
.banner1,
.etc1 {
    display: block;
    margin: 0 auto;
    height: 300px;
    max-width: 80%;
}
.a2 {
    max-width: 90%;
}

/*  WORKS-ETC1  */
.etc1 {
    height: 400px;
}

/*  ABOUT  -----------------------*/
.profile-image1{
    margin: 40px 50px 40px 50px;
    height: 300px;
}
.logoimage2 {
    max-height: 75px;
    position: absolute; left: 800px;
    margin-top: 30px;
}
.p-sentence1 {
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding: 0;
    margin-right: 80px;
}

.title4 {
    font-size: 1.8rem;
    padding-left: 20px;
    position: relative;
    background-image: url(../images/title3-line.png);
    background-size: 110px;
    background-repeat: no-repeat;
    background-position: 18px 38px;
}
.title5 {
    font-size: 1.8rem;
    padding-left: 20px;
    position: relative;
    background-image: url(../images/title3-line.png);
    background-size: 180px;
    background-repeat: no-repeat;
    background-position: 18px 38px;
}
/*  SKILLS  */
.container {
    display: flex;
    gap: 20px;
    width: 100%;
}
.box1,
.box2 {
    background-color: #fff;
    border: 1px #333 solid;
    width: 100%;
    padding: 10px 5%;
}
.tool,
.tool1{
    display: flex;
    gap: 10px;
}
.app-name {
    font-size: 1.2rem;
    height: 80px;
    width: 100px;
    background-color: rgb(111, 135, 231, .6);
    border-radius: 50%;
    border:1px #333 solid;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    padding-top: 20px;
}
.app-name1 {
    font-size: 1.2rem;
    height: 70px;
    width: 100px;
    background-color: rgb(111, 135, 231, .6);
    border-radius: 50%;
    border:1px #333 solid;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    padding-top: 30px;
}
.tool1 {
    margin-top: 65px;
}